


<header class="header">
    <!-- Logo -->
    <div class="logo">
        <a href="#">
            <img src="/pic/Mercedes-Benz-Logo.png" alt="Logo" id="logo">

        </a>
    </div>
    
   
    <nav class="nav-links">
        <a href="#">Category</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Products</a>
    </nav>
    
    <!-- User Actions (Login, Register, Cart, Profile) -->
    <div class="user-actions">
        <a href="#" class="login">Login</a>
        <a href="#" class="register">Register</a>
        <a href="#" class="cart">Cart</a>
        <a href="#" class="profile">My Profile</a>
    </div>
</header>